<style>
    .pageMenu{float: right;}
    .pageMenu span{padding: 7px 15px; border: 1px solid #666666; background: #999999; display: block; float: left; margin-left: 15px; color: #ffffff;}
    .pageMenu a{padding: 7px 15px; border: 1px solid #dddddd; background: #f2f2f2; display: block; float: left; margin-left: 15px;}
    .pageMenu a:hover{padding: 7px 15px; border: 1px solid #666666; background: #999999; display: block; float: left; margin-left: 15px; color: #ffffff;}
    .pageMenu li{padding: 7px 15px; border: 1px solid #dddddd; background: #f2f2f2; display: block; float: left; margin-left: 15px;}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="84"><tr><td>
    <div class="pageMenu">{$page}</div>
</td></tr></table>