        <!--右侧推荐部分 -->
		<?php
        //获取石材供应最热文章11篇
        $sql_hot="SELECT * FROM $my_db WHERE bankuai='$bankuai' ORDER BY id ASC LIMIT 0 , 11";
        $result_hot = mysql_query($sql_hot);
        $num_result_hot=mysql_num_rows($result_hot);
        //获取石材供应最热文章11篇
        ?>
        <div style="border:1px solid #dbdbdb;">
        <div style="line-height:35px; font-size:18px; padding-left:5px; background:#fafafa; border-bottom:1px solid #dbdbdb;">产品推荐</div>
        <div style="padding:10px;">
          <div style="padding-bottom:10px; border-bottom:1px solid #dbdbdb; margin-bottom:8px;">
             <div style="float:left;"><img src="<?php echo($http_host);?>/min_pic/<?php echo(mysql_result($result_hot,0,"pic_name"));?>" width="94" height="67" /></div>
             <div style="float:left; width:130px; margin-left:10px; line-height:22px;">
                <a href="<?php echo($http_host);?>/index.php/to/<?php echo($contentye);?>_<?php echo(mysql_result($result_hot,0,"id"));?>.html" target="_blank" style="font-size:14px; color:#039; display:block; height:22px; overflow:hidden;"><?php echo(mysql_result($result_hot,0,"name"));?></a>
                <div style="height:22px; overflow:hidden;">价格：<span style="color:#C00;"><?php echo(mysql_result($result_hot,0,"jiage"));?></span>元/平方</div>
                <div style="height:22px; overflow:hidden;">数量：<?php echo(mysql_result($result_hot,0,"shuliang"));?></div>
             </div>
             <div style="clear:both;"></div>
          </div>
          <?php 
		  for($i=1;$i <=10;$i++){
		  ?>
          <a href="<?php echo($http_host);?>/index.php/to/<?php echo($contentye);?>_<?php echo(mysql_result($result_hot,$i,"id"));?>.html" target="_blank" style="line-height:25px;display:block; color:#333; height:25px; overflow:hidden;"><?php echo(mysql_result($result_hot,$i,"name"));?><span style="color:#999;font-size:12px;">(<?php echo(mysql_result($result_hot,$i,"jiage"));?>元/平方)</span></a>
          <?php
		  }
		  ?>
        </div>
        </div>
        <!--右侧推荐部分 -->