<style>
    .daohang_div{ background: url("__ROOT__/style/web/default/img/daohang_bg.jpg") repeat-x;background-size:auto 100%; }
    .daohang_middle{padding: 0; width: 1200px; margin: 0 auto;}
    .daohang_web_title{line-height: 50px; color: #ffffff; margin: 0 15px; float: left; font-size: 16px; font-weight: bold;font-family: 'Courier New', Courier, monospace;;}
    .daohang_web_title span{font-size: 22px; }

    .daohang_lei{background:url(__ROOT__/style/web/default/img/daohang_bg.jpg); float:left; height:50px;}
    .daohang_lei:hover{background:url(__ROOT__/style/web/default/img/daohang_bg_hover.jpg); float:left; height:50px;}
    .daohang_lei span{display:block; margin:0px 15px 0px 15px; line-height:50px; color:#FFF; font-weight:bold; font-size:14px; font-family: "微软雅黑", "黑体";}
    .daohang_lei span a{color:#FFF;}
    .daohang_kuaijie{width:139px; height:26px; position:relative;}
    .daohang_kuaijie_1{background:#FFF; border:1px solid #FF6; border-bottom:0px; width:125px; height:25px; text-align:center;}
    .daohang_kuaijie_1 span{line-height:24px; color:#F00; font-weight:bold; display:block; background:url(__ROOT__/style/web/default/img/kuaijiedaohang.jpg) no-repeat 90px 8px;}
    .daohang_kuaijie_2{position:absolute;z-index:2; width:300px; left:-171px; background:#FFF; display:none;}
    .daohang_kuaijie_2_1{ border:2px solid #F00; border-top:0px;}
</style>
<!--导航部分 -->
<div class="daohang_div">
    <div class="row daohang_middle">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <div class="daohang_web_title"><span>石材吧</span> yqtyy.com</div>
                    <div class="daohang_lei"><span><a href="{:U('Home/Index/index')}">首页</a></span></div>
                    <div class="daohang_lei"><span><a href="{:U('Home/Gongying/lists')}">石材供应</a></span></div>
                    <div class="daohang_lei"><span><a href="{:U('Home/Shebei/lists')}">设备供应</a></span></div>
                    <div class="daohang_lei"><span><a href="{:U('Home/Xuqiu/lists')}">需求列表</a></span></div>
                    <div class="daohang_lei"><span><a href="{:U('Home/Zhanshi/lists')}">案例欣赏</a></span></div>
                    <div class="daohang_lei"><span><a href="{:U('Home/User/companyLists')}">企业黄页</a></span></div>
                    <div class="daohang_lei" onmouseover="yindiv('.daohang_lei_user')" onmouseout="yindiv('.daohang_lei_user')">
                        <span><a href="{:U('Home/User/jingjirenList')}">用户列表</a></span>
                        <div class="daohang_lei_user" style="background:#F03; position:absolute; width:130px; font-size:16px; font-weight:bold; text-align:center; color:#FFF; line-height:30px; display:none;">
                            <a href="{:U('Home/User/jingjirenList')}" style="display:block; color:#FFF;">经纪人</a>
                            <a href="{:U('Home/User/shejishiList')}" style="display:block; color:#FFF;">设计师</a>
                            <a href="{:U('Home/Public/publicZhanshi')}" style="display:block; color:#FFF;">发布设计作品</a>
                        </div>
                    </div>
                    <div class="daohang_lei"><span><a href="{:U('Home/Zhanhui/lists')}">石材展会</a></span></div>
                    <div class="daohang_lei"><span><a href="{:U('Home/News/lists')}">新闻列表</a></span></div>
                </td><td width="140px">
                <div style="position:relative;">
                    <div class="daohang_kuaijie"  onmouseover="yindiv('.daohang_kuaijie_2')" onmouseout="yindiv('.daohang_kuaijie_2')">
                        <div class="daohang_kuaijie_1"><span>快捷导航&nbsp;&nbsp;</span></div>
                        <!--快捷导航隐藏菜单 -->
                        <div class="daohang_kuaijie_2">
                            <div class="daohang_kuaijie_2_1">
                                <empty name="Think.session.user_info">
                                    <div style=" padding:10px 15px 5px 15px; line-height:20px; color:#666; font-size:12px; text-align:center;">您还未登陆，请登陆！！！</div>
                                    <div style="background:url(__ROOT__/style/web/default/img/bg21.jpg); line-height:40px; width:210px; margin:10px 0px 0px 40px; text-align:center; color:#FFF; font-weight:bold; font-size:18px;" onclick="jBox.open('get:{:U('Home/Login/loginTable')}', '登陆', 400, 250, { buttons: {} });">用户登陆</div>
                                    <a style="background:url(__ROOT__/style/web/default/img/bg21.jpg); line-height:40px; width:210px; margin:10px 0px 0px 40px; text-align:center; color:#FFF; font-weight:bold; font-size:18px; display:block;" href="{:U('Home/Login/register')}">快速注册</a>
                                    <div style="height:20px;"></div>

                                    <else/>

                                    <div style=" padding:10px 15px 5px 15px; line-height:20px; color:#666; font-size:12px; text-align:center;">{$user_info.name}&nbsp;&nbsp;欢迎您</div>
                                    <a style="background:url(__ROOT__/style/web/default/img/bg21.jpg); line-height:40px; width:210px; margin:10px 0px 0px 40px; text-align:center; color:#FFF; font-weight:bold; font-size:18px; display:block;" href="{:U('Myweb/'.$_SESSION['user_info']['myweb_action'].'/index',array('userid'=>$_SESSION['user_info']['id']))}">进入店铺</a>
                                    <a style="background:url(__ROOT__/style/web/default/img/bg21.jpg); line-height:40px; width:210px; margin:10px 0px 0px 40px; text-align:center; color:#FFF; font-weight:bold; font-size:18px; display:block;" href="{:U('Space/index/index')}">进入个人管理</a>
                                    <a style="background:url(__ROOT__/style/web/default/img/bg21.jpg); line-height:40px; width:210px; margin:10px 0px 0px 40px; text-align:center; color:#FFF; font-weight:bold; font-size:18px; display:block;" href="{:U('Admin/index/index')}">管理员中心</a>
                                    <a style="background:url(__ROOT__/style/web/default/img/bg21.jpg); line-height:40px; width:210px; margin:10px 0px 20px 40px; text-align:center; color:#FFF; font-weight:bold; font-size:18px; display:block;" onclick="logout()">退出</a>
                                    <script language=JavaScript>
                                        //公共页面登陆退出
                                        function logout(){
                                            if (confirm("您确定要退出控制面板吗？")){
                                                $.post("{:U('Login/logout')}", {action:"zhuxiao"},function(data,status){
                                                    if(data.errNum==0){
                                                        jBox.messager(data.retData);
                                                        location.href=location.href;
                                                    }else{
                                                        jBox.messager('请检查网络，或者重试');
                                                    }
                                                });
                                            }
                                            return false;
                                        }
                                        //公共页面登陆退出
                                    </script>
                                </empty>
                            </div>
                        </div>
                        <!--快捷导航隐藏菜单 -->
                    </div>
                </div>
            </td></tr></table>
    </div>
</div>
<!--导航部分 -->