<?php
$search=$_GET["search"];//定义搜索关键词
$jianjie_search=$_GET["jianjie"];//定义搜索简介关键词
$jiage_min=$_GET["jiage_min"];//定义价格搜索词
$jiage_max=$_GET["jiage_max"];//定义价格搜索词
$time=$_GET["time"];//定义时间搜索词
$leixing=$_GET["leixing"];//定义类型搜索词
$dizhi=$_GET["dizhi"];//企业地区搜索词
$paixu_hao=$_GET["paixu"];//排序搜索

$search_jie=$search;//汉字会出现乱码，替换加解码
$dizhi_jie=$dizhi;

$search=urldecode(strtr($search,"@","%"));//汉字会出现乱码，替换加解码
$dizhi=urldecode(strtr($dizhi,"@","%"));

//定义链接网址url搜索的关键词组和数据库搜索条件
$url_search="";
$url_search_paixu="";
$search_total=" WHERE bankuai='$bankuai'";
if($search!=""){$url_search=$url_search."/search/".$search_jie;  $search_total=$search_total." AND name LIKE '%".$search."%'";}
if($leixing!=""){$url_search=$url_search."/leixing/".$leixing;  $search_total=$search_total." AND leixing=".$leixing;}
if($jianjie_search!=""){$url_search=$url_search."/jianjie_search/".$jianjie_search;  $search_total=$search_total." AND jianjie LIKE '%".$jianjie_search."%'";}
if($jiage_min!=""){$url_search=$url_search."/jiage_min/".$jiage_min;  $search_total=$search_total." AND jiage>=".$jiage_min;}
if($jiage_max!=""){$url_search=$url_search."/jiage_max/".$jiage_max;  $search_total=$search_total." AND jiage<=".$jiage_max;}
if($time!=""){$url_search=$url_search."/time/".$time;  $search_total=$search_total." AND time>='".$time."'";}
if($dizhi!=""){$url_search=$url_search."/dizhi/".$dizhi_jie;  $search_total=$search_total." AND yanse LIKE '%".$dizhi."%'";}
$url_search_paixu=$url_search;$url_search=$url_search."/paixu/".$paixu_hao;
//定义链接网址url搜索的关键词组和数据库搜索条


//定义数据库搜索排序条件
$paixu="id DESC";//排序，默认按照id从大到小排序
if($paixu_hao==2){$paixu="jiage ASC";}//价格从低到高
elseif($paixu_hao==3){$paixu="jiage DESC";}//价格从高到低
elseif($paixu_hao==4){$paixu="time DESC";}//价格从高到低
elseif($paixu_hao==5){$paixu="num DESC";}//价格从高到低
else{$paixu="id DESC";}//排序，默认按照id从大到小排序
//定义数据库搜索排序条件

//获取石材供总文章数
$sql_total="SELECT * FROM $my_db".$search_total;
$result_total= mysql_query($sql_total);
$num_result_total=mysql_num_rows($result_total);
//获取石材供总文章数

//定义每页的文章数，计算页数
$perNumber=12;
$totalPage=ceil($num_result_total/$perNumber); 
$startcount=($page-1)*$perNumber;
//定义每页的文章数，计算页

//获取当前页面的文章
$sql="SELECT * FROM $my_db".$search_total." ORDER BY $paixu LIMIT $startcount , $perNumber";
$result = mysql_query($sql);
$num_result=mysql_num_rows($result);
//获取当前页面的文章
?>