<form id="news_form" class="form" action="{:U('gongyingAdd')}" method="Post">
	<style>
		.myInfo-content { width: 800px; margin: 20px 0 50px 50px;}
		.con-div{margin-bottom: 10px;}
		.con-left {text-align: left;font-weight: 700;}
	</style>
	<div class="myInfo-content">
		<input name="id" value="{$newInfo.id}" type="hidden">
		<div class="row con-div">
			<div class="col-md-2 con-left">供应名称：</div>
			<div class="col-md-4"><input type="text" class="form-control" name="name" value="{$newInfo.name}"/></div>
		</div>
		<div class="row con-div">
			<div class="col-md-2 con-left">石材栏目：</div>
			<div class="col-md-4">
				<select name="type" class="form-control" id="type">
					<option value="">请选择</option>
					<foreach name="configType" item="vo">
						<option value="{$vo.id}">{$vo.name}</option>
					</foreach>
				</select>
			</div>
		</div>
		<div class="row con-div">
			<div class="col-md-2 con-left">石材类别：</div>
			<div class="col-md-4">
				<select name="common_type_1" class="form-control" id="common_type_all">
					<option value="">请选择</option>
					<foreach name="configCommonType" item="vo">
						<option value="{$vo.name}" rel="{$vo.id}">{$vo.name}</option>
					</foreach>
				</select>
			</div>
			<div class="col-md-4">
				<select name="common_type_2" class="form-control" id="common_type">
					<notempty name="newInfo">
						<option value="{$newInfo.common_type_2}">{$newInfo.common_type_2}</option>
					</notempty>
					<option value="">请选择</option>
				</select>
			</div>
		</div>
		<div class="row con-div">
			<div class="col-md-2 con-left">颜色：</div>
			<div class="col-md-4">
				<select name="stone_color" class="form-control" id="stone_color">
					<option value="">请选择</option>
					<foreach name="configTypeColor" item="vo">
						<option value="{$vo.name}">{$vo.name}</option>
					</foreach>
				</select>
			</div>
			<div class="col-md-1 con-left">价格(元)：</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="price" value="{$newInfo.price}"/>
			</div>
		</div>
		<div class="row con-div">
			<div style="font-size: 12px; color: #F00">请认真编辑文章信息，这些信息展现给用户浏览，更能增加您的联系量。</div>
		</div>
		<div class="row con-div">
			<div style="font-size: 12px;">（提交后，服务器会自动提取前面的字段生成文章简介）</div>
		</div>
		<div class="row con-div">
			<script type="text/javascript" charset="utf-8" src="__ROOT__/style/editor/ueditor.all.min.js"> </script>
			<textarea name="content" id="editor" style="width:800px;height:500px;">{$newInfo.content}</textarea>

			<script type="text/javascript">
				var ue = UE.getEditor('editor');
				UE.getEditor('editor').ready(function(){
				})
			</script>
		</div>

		<div style="text-align: center;">
			<input type="submit" class="btn btn-success" name="submit" value="保存">&nbsp;&nbsp;&nbsp;
			<input type="button" class="btn btn-primary" onclick="javascript:closeDlg();" value="取消">
		</div>
	</div>
</form>
<script type="text/javascript">
	$('#type').val("{$newInfo.type}");
	$('#common_type_all').val("{$newInfo.common_type_1}");
	$('#common_type').val("{$newInfo.common_type_2}");
	$('#stone_color').val("{$newInfo.stone_color}");
	$('#news_form').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			showSuccess(data.retData);
			var link = "{:U('gongyingIndex')}";
			$('.content-header>h1').html('石材供应');
			loadURL(link,'.page-content');
		}else{
			showError(data.errMsg);
		}
	}
	function checkForm(){

	}


	$("#common_type_all").change(function(){
		$('#common_type').html('<option value="">请选择</option>');
		$.post("{:U('Config/getConfigByFatherid')}", {fatherid:$('#common_type_all option:selected').attr('rel')},function(data,status){
			if(data.errNum===0){
				var str='<option value="">请选择</option>';
				for(var i=0;i<data.retData.length;i++){
					str+='<option value="'+data.retData[i].name+'">'+data.retData[i].name+'</option>';
				}
				$('#common_type').html(str);
			}else{
				jBox.messager('请检查网络，或者重试');
			}
		});
	});
</script>


