<style>
	#tab_content { padding-top: 20px; padding-bottom: 50px; padding-left: 20px;}
</style>
<ul class="nav nav-tabs ul-edit">
    <li class="active"><a class="" link="{:U('zhanshi')}" rel="1" data-toggle="tab">展示信息</a></li>
    <li><a class="" link="{:U('Config/index')}?bankuai=zhanshi" rel="2" data-toggle="tab">展示类别管理</a></li>
</ul>
<div id='tab_content'>

</div>


<script>
    loadURL("{:U('zhanshi')}",'#tab_content');

    $('.nav-tabs li a').click(function(){
        var link=$(this).attr('link');
        loadURL(link,'#tab_content');
    });
</script>
