<form id="editPassword_form" class="form" action="{:U('editPassword')}" method="Post">
	<style>
		.myInfo-content { width: 800px;}
		.con-div{margin-bottom: 10px;}
		.con-left {text-align: right;font-weight: 700;}
	</style>
	<div class="myInfo-content">
		<div class="row con-div">
			<div class="col-md-2 con-left">原密码：</div>
			<div class="col-md-4"><input type="password" class="form-control" name="old_password" value=""/></div>
		</div>
		<div class="row con-div">
			<div class="col-md-2 con-left">新密码：</div>
			<div class="col-md-4"><input type="password" class="form-control" name="password" id="password" value=""/></div>
		</div>
		<div class="row con-div">
			<div class="col-md-2 con-left">确认密码：</div>
			<div class="col-md-4"><input type="password" class="form-control" name="repassword" id="repassword" value=""/></div>
		</div>
		<div style="text-align: center;">
			<input type="submit" class="btn btn-success" name="submit" value="保存">&nbsp;&nbsp;&nbsp;
			<input type="button" class="btn btn-primary" onclick="javascript:closeDlg();" value="取消">
		</div>
	</div>
</form>
<script type="text/javascript">
	$('#editPassword_form').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			showSuccess(data.retData);
			closeDlg();
		}else{
			showError(data.errMsg);
		}
	}
	function checkForm(){
		if($('#password').val()!=$('#repassword').val()){
			showError('两次号码不一样');
			return false;
		}
	}
</script>
					
