<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$info.name}</title>
    <include file="include/public_style"/>
</head>

<body>
<include file="include/public_daohang"/>
<include file="include/public_search"/>
<include file="include/public_url_address"/>
<!--页面body部分 -->
<div style="margin:0 auto; width:1200px;">
    <!--内容页左侧部分 -->
    <div style="float:left; width:895px; border:1px solid #c7c7c7;">
        <!--内容标题部分 -->
        <div style="text-align:center; font-weight:bold; font-size:24px; line-height:35px; margin-top:15px;">{$info.name}</div>
        <div style="text-align:center;line-height:25px; color:#9f9eae;">
            <span><a>{$info.user_name}</a>发布于：{$info.updatetime|date="Y-m-d H:i:s",###}</span>
            |
            <span>查看：{$info.look_num}次</span>
            |
            <span>评论：10条</span>
            |
            <span>来源：{:U('index/index')}</span>
        </div>
        <!--内容标题部分 -->
        <!--内容内容部分 -->
        <div style="margin:0px 15px 10px 15px; font-size:14px; line-height:25px;">
            <div style="text-indent:2em;">{$info.content}</div>
            <!--页码部分 -->
            <!--<div style=" height:60px; margin-top:20px;">-->
            <!--<a style="float:right; line-height:30px; display:block; border:1px solid #CCC; padding:0px 10px 0px 10px; margin:15px 8px 0px 0px; text-decoration:none;">下一页</a>-->
            <!--<a style="float:right; line-height:30px; display:block; border:1px solid #CCC; padding:0px 10px 0px 10px; margin:15px 8px 0px 0px; text-decoration:none;">5</a>-->
            <!--<a style="float:right; line-height:30px; display:block; border:1px solid #C00; padding:0px 10px 0px 10px; margin:15px 8px 0px 0px; text-decoration:none; background:#C00; color:#FFF;">4</a>-->
            <!--<a style="float:right; line-height:30px; display:block; border:1px solid #CCC; padding:0px 10px 0px 10px; margin:15px 8px 0px 0px; text-decoration:none;">3</a>-->
            <!--<a style="float:right; line-height:30px; display:block; border:1px solid #CCC; padding:0px 10px 0px 10px; margin:15px 8px 0px 0px; text-decoration:none;">2</a>-->
            <!--<a style="float:right; line-height:30px; display:block; border:1px solid #CCC; padding:0px 10px 0px 10px; margin:15px 8px 0px 0px; text-decoration:none;">1</a>-->
            <!--<div style="clear:both;"></div>-->
            <!--</div>-->
            <!--页码部分 -->
            <!--点击评论部分 -->
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td>&nbsp;</td>
                    <td width="47px" align="center"><img src="__ROOT__/style/web/default/img/pinglun_1.jpg" width="46" height="50" /><br />好评(<?php echo(mysql_result($result,0,"num_1"));?>)</td>
                    <td width="30px">&nbsp;</td>
                    <td width="47px" align="center"><img src="__ROOT__/style/web/default/img/pinglun_2.jpg" width="46" height="50" /><br />差评(<?php echo(mysql_result($result,0,"num_2"));?>)</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <!--点击评论部分 -->
        </div>
        <div style="margin:10px 0px 10px 0px; color:#666; font-size:14px;"></div>
        <!--内容内容部分 -->
    </div>
    <!--内容页左侧部分 -->
    <!--内容页右侧部分 -->
    <div style="float:right; width:285px;">
        <!--内容页右侧会员信息部分 -->
        <include file="include/public_content_user"/>
        <!--内容页右侧会员信息部分 -->
        <!--图片推荐产品 -->
        <include file="include/public_list_hotpic"/>
        <!--图片推荐产品 -->
        <include file="include/public_list_tuijian"/>
    </div>
    <!--内容页右侧部分 -->
    <div style="clear:both;"></div>
    <include file="include/public_content1"/>
</div>
<!--页面body部分 -->
<div style="margin:0 auto; width:1200px; height:15px;"></div>
<include file="include/public_fooer"/>
</body>
</html>