<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>设计师申请专题页--石材吧 专业免费的石材供应、石材设备及企业信息平台</title>
  <include file="include/public_style"/>
</head>
<body>
<include file="include/public_daohang"/>
<include file="include/public_logo"/>


<!--页面body部分 -->
<div style=" height:100px; background:url(__ROOT__/style/web/default/img/jingjirenbg.jpg); text-align:center;"><span style=" line-height:100px;color:#F30; font-weight:bold; font-size:48px;">我会设计&nbsp;我要入驻为石材设计师</span><span style="margin-left:20px;">（立即<a style="color:#F00; font-weight:bold;" onclick="jBox.open('iframe:<?php echo($http_host);?>/system/shenqing/shejishi.php', '申请设计师', 500, 250);">申请</a>成为石材设计师）</span></div>
<table width="1200" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#aa796b">
  <tr bgcolor="#aa796b">
    <td width="250" align="center" style="font-size:60px; color:#C60">只要<br>你懂<br>设计</td>
    <td align="right"><img src="__ROOT__/style/web/default/img/shejishi2.jpg" width="930"></td>
  </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#0099CC">
  <tr bgcolor="#aa796b">
    <td align="left"><img src="__ROOT__/style/web/default/img/jingjiren3.jpg" width="930"></td>
    <td width="250" align="center" style="font-size:60px; color:#C60">只要<br>你有<br>拼搏<br>梦想</td>
  </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e1c08d">
  <tr bgcolor="#aa796b">
    <td width="250" align="center" style="font-size:60px; color:#C60">加入<br>实现<br>成功<br>梦想</td>
    <td align="right"><img src="__ROOT__/style/web/default/img/shejishi1.jpg" width="930"></td>
  </tr>
  </table>
</td></tr></table>
<div style=" height:100px; background:url(__ROOT__/style/web/default/img/jingjirenbg.jpg); text-align:center;"><span style=" line-height:100px;color:#F30; font-weight:bold; font-size:48px;">我会设计&nbsp;我要入驻为石材设计师</span><span style="margin-left:20px;">（立即<a style="color:#F00; font-weight:bold;" onclick="jBox.open('iframe:<?php echo($http_host);?>/system/shenqing/shejishi.php', '申请经纪人', 500, 250);">申请</a>为石材设计师）</span></div>




<!--页面body部分 -->
<div style="margin:0 auto; width:1200px; height:15px;"></div>
<include file="include/public_fooer"/>
</body>
</html>