<form id="pagerForm" method="post" action="">
	<input type="hidden" name="pageNum" value="1"/>
	<input type="hidden" name="numPerPage" value=""/>
	<input type="hidden" name="orderField" value="${param.orderField}"/>
	<input type="hidden" name="orderDirection" value="${param.orderDirection}"/>
</form>
<style type="text/css">
	.menulist_div1{float: left; width: 25px; height: 20px; background: url(__ROOT__/style/admin/themes/default/images/accordion/accordion.png) no-repeat -0px -154px;}
	.menulist_tree{float: left; width: 25px; height: 20px; background: url(__ROOT__/style/admin/themes/default/images/tree/tree.png) no-repeat -0px -495px;}
	.menulist_div2{float: left; width: 25px; height: 20px; background: url(__ROOT__/style/admin/themes/default/images/tree/folder.png) no-repeat -0px -0px;}
	.menulist_div3{float: left; width: 25px; height: 20px; background: url(__ROOT__/style/admin/themes/default/images/tree/folder.png) no-repeat -0px -100px;}
	.menulist_div4{float: left; width: 25px; height: 20px;}
</style>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="delete" href="{:U('delete')}?uid={sid_user}" target="ajaxTodo" callback="tabformcallback" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="add" href="{:U('add')}?uid={sid_user}" target="dialog" width="750" height="410" rel="add_adminDaohang"><span>修改</span></a></li>
			<li><a class="add" href="{:U('add')}" target="dialog" width="750" height="410" rel="add_adminDaohang"><span>添加</span></a></li>
			<li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="76">
		<thead>
		<tr>
			<th>id号</th>
			<th>名称</th>
			<th>是否弹出窗</th>
			<th>窗口标签</th>
			<th>链接</th>
			<th>是否frame访问</th>
			<th>宽度</th>
			<th>高度</th>
			<th>创建时间</th>
		</tr>
		</thead>
		<tbody>
		<foreach name="lists" item="vo">
			<tr target="sid_user" rel="{$vo.id}">
				<td>{$vo.id}</td>
				<td>
					<!--如果是一级导航-->
					<if condition="$vo.level eq 0 "><div class="menulist_div1"></div></if>
					<!--不是一级导航-->
					<if condition="$vo.level gt 0 ">
						<for start="1" end="$vo.level">
							<div class="menulist_div4"></div>
						</for>
						<div class="menulist_tree"></div>
						<if condition="$vo.isdir eq 1 "><div class="menulist_div2"></div>
							<else /> <div class="menulist_div3"></div>
						</if>
					</if>
					{$vo.name}
				</td>
				<td>
					<if condition="$vo.isdir eq 0 ">
						<if condition="$vo.isdialog eq 1 ">弹出窗
							<else /> tab窗口
						</if>
					</if>
				</td>
				<td>{$vo.rel}</td>
				<td>{$vo.url}</td>
				<td>
					<if condition="$vo.isdir eq 0 ">
						<if condition="$vo.external eq 1 ">frame包含
							<else /> ajax页面
						</if>
					</if>
				</td>
				<td>{$vo.width}</td>
				<td>{$vo.height}</td>
				<td>{$vo.createtime}</td>
			</tr>
		</foreach>

		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>共有数据条</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select>
		</div>
		<div class="pagination" targetType="navTab" totalCount="" numPerPage="" pageNumShown="1" currentPage="1"></div>

	</div>
</div>