<style>
	#tab_content { padding-top: 20px; padding-bottom: 50px; padding-left: 20px;}
</style>
<ul class="nav nav-tabs ul-edit">
    <li class="active"><a class="" link="{:U('myInfo')}" rel="1" data-toggle="tab">企业资料</a></li>
    <li><a class="" link="{:U('cutlogoIndex')}" rel="1" data-toggle="tab">编辑企业商标</a></li>
</ul>
<div id='tab_content'>

</div>


<script>
    loadURL("{:U('myInfo')}",'#tab_content');

    $('.nav-tabs li a').click(function(){
        var link=$(this).attr('link');
        loadURL(link,'#tab_content');
    });
</script>
