<form id="add_form" class="form" action="{:U('add')}" method="Post">
	<style>
		.myInfo-content { width: 400px;}
		.con-div{margin-bottom: 10px;}
	</style>
	<div class="myInfo-content">
		<input name="id" value="{$customerInfo.id}" type="hidden">
		<div class="row con-div">
			<div class="col-md-4 con-left">客户名：</div>
			<div class="col-md-8"><input type="text" class="form-control" name="name" value="{$customerInfo.name}"/></div>
		</div>
		<div class="row con-div">
			<div class="col-md-4 con-left">客户介绍：</div>
			<div class="col-md-8"><input type="text" class="form-control" name="introduce" value="{$customerInfo.introduce}"/></div>
		</div>
		<div class="row con-div">
			<div class="col-md-4 con-left">客户状态：</div>
			<div class="col-md-8">
				<select name="status" class="form-control" id="status">
					<option value="请选择">请选择</option>
					<option value="正常">正常</option>
					<option value="无效">无效</option>
				</select>
			</div>
		</div>
		<div style="text-align: center;">
			<input type="submit" class="btn btn-success" name="submit" value="保存">&nbsp;&nbsp;&nbsp;
			<input type="button" class="btn btn-primary" onclick="javascript:closeDlg();" value="取消">
		</div>
	</div>
</form>
<script type="text/javascript">
	$('#status').val('{$customerInfo.status}');
	$('#add_form').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			showSuccess(data.retData);
			loadURL("{:U('table')}",'#ajax-content');

			closeDlg();
		}else{
			showError(data.errMsg);
		}
	}
	function checkForm(){


	}
</script>
					
