<form id="setIntroduceOne" class="form" action="{:U('setIntroduceOne')}" method="Post">
	<table class="table">
		<tr>
			<td>标题</td>
			<td><input type="text" class="form-control" name="name[]" value="{$setIntroduceOne['name'][0]}"/></td>
			<td><input type="text" class="form-control" name="name[]" value="{$setIntroduceOne['name'][1]}"/></td>
			<td><input type="text" class="form-control" name="name[]" value="{$setIntroduceOne['name'][2]}"/></td>
		</tr>
		<tr>
			<td>链接</td>
			<td><input type="text" class="form-control" name="url[]" value="{$setIntroduceOne['url'][0]}"/></td>
			<td><input type="text" class="form-control" name="url[]" value="{$setIntroduceOne['url'][1]}"/></td>
			<td><input type="text" class="form-control" name="url[]" value="{$setIntroduceOne['url'][2]}"/></td>
		</tr>
		<tr>
			<td>内容</td>
			<td><textarea name="content[]" class="form-control">{$setIntroduceOne['content'][0]}</textarea></td>
			<td><textarea name="content[]" class="form-control">{$setIntroduceOne['content'][1]}</textarea></td>
			<td><textarea name="content[]" class="form-control">{$setIntroduceOne['content'][2]}</textarea></td>
		</tr>
	</table>
	<div style="text-align: center;">
		<input type="submit" class="btn btn-success" name="submit" value="保存">&nbsp;&nbsp;&nbsp;
	</div>
</form>


<script type="text/javascript">
	$('#setIntroduceOne').ajaxForm({success:success,beforeSend:checkForm});
	function success(data){
		if(data.errNum==0){
			location.reload();
		}else{
			alert('更新失败');
		}
	}
	function checkForm(){

	}
</script>