<include file="include/public_header"/>
<table width="1000" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
    <!--内容 -->
    <div style="width:1000px; margin:0px auto; background:#FFF;"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
        <!--左边 -->
        <include file="include/public_1"/>
        <!--左边 -->
        <!--右边 -->
        <div style="width:730px; float:left; margin-left:25px; margin-top:20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="43px" background="yangshi/contentbg1.jpg">
                        <span style=" font-size:13px; line-height:20px; display:block; float:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你现在所在的位置：企业</span>
                        <a style=" font-size:13px; line-height:20px; display:block; float:left;" href="{:U('index',array('userid'=>$userid))}">首页</a>
                        <a style=" font-size:13px; line-height:20px; display:block; float:left;" href="{:U('newslist3',array('userid'=>$userid))}">&nbsp;>&nbsp;企业项目展示</a>
                    </td>
                </tr>
                <tr>
                    <td background="yangshi/contentbg2.jpg">
                        <div style="margin:25px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
                                <foreach name="lists" item="vo">
                                    <div style="width:212px;float:left; margin-right:13px; margin-bottom:17px;">
                                        <a href="{:U('index',array('userid'=>$userid,'newsid'=>$vo.id))}" target="_blank" style="color:#000;">
                                            <img src="{$vo.pic_name}" width="212px" height="130px" border="0px" />
                                        </a>
                                        <div align="center" style="width:100%; padding-bottom:7px; padding-top:7px;">
                                            <a href="{:U('index',array('userid'=>$userid,'newsid'=>$vo.id))}" target="_blank" style="color:#000;">{$vo.name}</a>
                                        </div>
                                    </div>
                                </foreach>
                            </td></tr></table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="18px" background="yangshi/contentbg3.jpg">&nbsp;</td>
                </tr>
            </table>
        </div>
        <!--右边 -->
    </td></tr></table>
    </div>
    <!--内容 -->
</td></tr></table>
<include file="include/public_fooer"/>