<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>展会列表--石材吧 专业免费的石材供应、石材设备及企业信息平台</title>
    <include file="include/public_style"/>
</head>

<body>
<include file="include/public_daohang"/>
<include file="include/public_search"/>
<include file="include/public_url_address"/>
<div class="row" style="width: 1200px;padding: 0px; margin: 0 auto;">
    <include file="include/public_type_search"/>
    <!--页面body部分 -->
    <div class="row">
        <!--列表选择部分 -->
        <style>
            .order_a{float:left; line-height:26px; display:block; border:1px solid #CCC; padding:0px 6px 0px 6px; margin-top:8px; text-decoration:none; color:#333}
        </style>
        <div style=" border:1px solid #dbdbdb; border-top:1px solid #F00; background:#fafafa;">
            <span style="float:left; line-height:42px; margin-left:15px; display:block;">排序方式：</span>
            <a href="" class="order_a" rel="id desc">默认排序</a>
            <a href="" class="order_a" rel="price asc">按价格（低->高）</a>
            <a href="" class="order_a" rel="price desc">按价格（高->低）</a>
            <a href="" class="order_a" rel="updatetime desc">按发布时间</a>
            <a href="" class="order_a" rel="look_num desc">点击量</a>
            <div style="clear:both;"></div>
        </div>
        <!--列表选择部分 -->
        <!--列表部分 -->
        <div>
            <input type="hidden" value="<php>echo $_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'];</php>" id="list_url"/>
            <foreach name="data" item="vo">
            <div style=" border:1px solid #d9dadc; position:relative; margin:15px 15px 0px 0px;">
                <div style="position:absolute; right:-5px; top:-5px;"><img src="__ROOT__/style/web/default/img/zph_icon5_{$vo.return_state}.png" width="63" height="63"></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="20">
                    <tr>
                        <td width="127">
                            <div style="width:127px; height:119px; background:url(__ROOT__/style/web/default/img/zph_bg1.png) no-repeat; text-align:center;">
                                <div style="color:#FFF; line-height:45px; font-size:13px;">{$vo.weekday}</div>
                                <div style="color:#2c80d6; font-size:30px; font-weight:bold; line-height:40px;">{$vo.starttime|date="d",###}</div>
                                <div style="color:#666f78; font-size:13px; font-weight:bold; line-height:25px;">{$vo.starttime|date="Y",###}年{$vo.starttime|date="m",###}月</div>
                            </div>
                        </td>
                        <td>
                            <a href="{:U('content',array('newsid'=>$vo['id']))}" target="_blank" style="font-size:24px; font-weight:bold; color:#2782d5; line-height:30px; height:30px; overflow:hidden; display:block;">{$vo.name}</a>
                            <div style="padding-left:30px; background:url(__ROOT__/style/web/default/img/zph_icon3.png) no-repeat 13px; color:#a6a4a5; font-size:13px; line-height:27px;">
                                时间：<span style="margin-left:50px; color:#333;">{$vo.starttime|date="Y-m-d H:i:s",###}至{$vo.stoptime|date="Y-m-d H:i:s",###}</span>
                            </div>
                            <div style="padding-left:30px; background:url(__ROOT__/style/web/default/img/zph_icon2.png) no-repeat 13px; color:#a6a4a5; font-size:13px; line-height:27px;">
                                会场地址：<span style="margin-left:30px; color:#333;">{$vo.address} {$vo.address_detail}</span>
                            </div>
                            <div style="padding-left:37px; background:url(__ROOT__/style/web/default/img/zph_icon1.png) no-repeat 13px; color:#a6a4a5; font-size:13px; line-height:27px;">
                                主办方：<span style="margin-left:30px; color:#333;">{$vo.zhuban}</span>
                            </div>
                        </td>
                        <td width="300">
                            <a style="width:75px; background:#ea6925; color:#FFF; font-size:14px; line-height:30px; text-align:center; border:1px solid #a83f06; display:block; float:left; margin-right:15px;" onclick="yuding('{$vo.id}');">我要预订</a>
                            <a style="width:75px; background:#2a7fd2; color:#FFF; font-size:14px; line-height:30px; text-align:center; border:1px solid #004b97; display:block; float:left; margin-right:15px;" onclick="canyu('{$vo.id}');">参与企业</a>
                            <a href="{:U('content',array('newsid'=>$vo['id']))}" target="_blank" style="width:75px; background:#2a7fd2; color:#FFF; font-size:14px; line-height:30px; text-align:center; border:1px solid #004b97; display:block; float:left; margin-right:15px;">查看详情</a>
                            <span style="display:block; width:290px; float:left; color:#645655; font-size:12px; margin-top:20px; line-height:22px; height:44px; overflow:hidden;">详细介绍......</span>
                        </td>
                    </tr>
                </table>
            </div>
            </foreach>
            <div style="clear:both;"></div>
        </div>
        <!--列表部分 -->
        <!--页码部分 -->
        <include file="include/public_list_yema"/>
        <!--页码部分 -->
    </div>
</div>
<!--页面body部分 -->
<include file="include/public_fooer"/>
</body>
</html>
